.mainContainer {
    display: flex;
    width: 100%;
    margin: 15px 0;
    justify-content: space-between;
}

.slipsLeft {
    display: flex;
    width: 20%;
    align-self: start;
    border: springgreen solid 5px;
}

.slipsRight {
    display: flex;
    width: 20%;
    border: turquoise solid 5px;
    align-self: flex-end;
}

.mainContent {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: solid 5px ;
}
