.slipButtonLeft {
    height: 60px;
    width: 220px;
    background-color: #212121;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0 15px 15px 0;
    padding-right: 10px;
    margin-bottom: 40px;
}

.slipButtonLeft img {
    margin: 0 10px;
}

.slipButtonRight {
    height: 60px;
    width: 220px;
    background-color: #212121;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px 0 0 15px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.slipButtonRight img {
    margin-right: 8px;
}
