.header1 {
    font-size: 50px;
    color: blueviolet;
}
.header2 {
    font-size: 50px;
    color: red;
}

.body1 {
    color: white;
    font-size: 14px;
    text-align: center;
}

.body4 {
    color: white;
    font-size: 14px;
    margin: 5px 10px;
}

.bold {
    font-weight: bold;
}
